body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    position: relative;
}

* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

/* HERO SECTION */
.hero {
    background-color: #F9F1E7;
    width: 100%;
    background-image: url(images/2563956\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 20px;


}

.hero-type-container {
    padding-top: 100px;
}

/* NAVIGATION */
nav {
    background-color: #252525;
    height: 40px;
    width: 100%;
    max-width: 100%;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

nav .menu, .search, .logo {
    display: none;
}

/* Dropdown Button */
.dropbtn {
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

/* PROFILE */
.profile-1 {
    display: none;

}

.profile img {
    width: 100%;
    height: 100%;
}

/* Hero button */
.shop-now {
    background-color: #E89F71;
    font-weight: 800px;
    font-size: 20px;
    padding: 24px 24px;
    color: white;
    border: none;
}

.hero-type h1 {
    font-size: 40px;
    font-weight: 700;
    padding: 16px;
}

.hero-type p {
    padding-bottom: 48px;
}

.hero-type {
    background-color: rgba(255, 255, 255, 0.67);
    padding: 20px;
}

/* Main */
main {
    width: 100%;
}

main h2 {
    padding-top: 100px;
    padding-bottom: 64px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

/* CARD STYLING */
.card {
    display: flex;
    flex-direction: column;
    background-color: #F4F5F7;
}


.card img {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 0 1rem;
    width: 100%;
}

.card div {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    gap: 8px;
    padding-left: 12px;
    padding-bottom: 16px;
}

.card h4 {
    font-size: 24px;
    font-weight: 500;
}



.setup h2 {
    padding-top: 100px;
    padding-bottom: 64px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

/* GIRD STYLING */
.grid-1 {
    max-width: 1200px;
    margin: auto;

}

.grid-sizer,
.grid-item {
    width: 200px;
}

.grid-item img {
    width: 100%;

}

/* INSPIRATIONS SECTION STYLING */
.inspirations {
    background-color: #252525;
    padding-top: 100px;
    padding-bottom: 64px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    justify-items: center;
    align-items: center;
    gap: 10px;
    color: white;

}


.inspirations h3 {
    padding-bottom: 64px;

}

/* FOOTER */
footer {
    display: flex;
    padding: 0;
    justify-content: space-around;
    border-top: #616161 1px solid;
}

footer .funiro-footer {
    display: none;
}

footer img {
    width: 60px;
    height: auto;
    align-items: center;
}

footer h3 {
    font-size: 24px;
    font-weight: 600;
}

.bottom-nav {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.nav1, .nav2, .nav3 {
    display: none;
}

.stay-updated {
    padding-bottom: 20px;
    padding-top: 20px;
}

/* FORM STYLING */
input {
    padding: 10px;
    border: none;
    background-color: #d2d2d2;
    color: white;
}

.btn {
    background-color: #E89F71;
    padding: 10px;
    width: 100%;
    height: 100%;

}

.form {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* STYLING FOR WEB */
@media only screen and (min-width: 800px) {

    /* Hero section styling for web */
    .hero {
        background-color: #F9F1E7;
        height: 100vh;
        width: 100%;

    }

    .hero-type-container {
        padding: 150px;
    }

    .logo {
        display: block;
    }

    /* hide menu */
    .dropdown {
        display: none;
    }

    nav {
        background-color: transparent;
        height: 40px;
        padding: 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    nav .menu {
        display: flex;
        gap: 40px;
    }

    nav .search {
        display: flex;
        gap: 15px;
        background-color: white;
        padding: 12px;
        color: #616161;
        font-weight: 200;

    }

    nav .search img {
        width: 13px;
        height: 13px;
    }

    nav img {
        width: max-content;
    }

    /* profile */
    .profile {
        display: flex;
        gap: 40px;
        align-items: center;

    }

    .profile img {
        width: 100%;
        height: 100%;
    }

    body {
        font-family: "Poppins", sans-serif;

    }

    /* Hero styling for web */
    .shop-now {
        background-color: #E89F71;
        font-weight: 800px;
        font-size: 20px;
        padding: 24px 140px;
        color: white;
        border: none;
    }

    .hero-type h1 {
        font-size: 56px;
        font-weight: 700;
        padding-bottom: 16px;
    }

    .hero-type p {
        padding-bottom: 48px;
    }

    .hero-type {
        background-color: rgba(255, 255, 255, 0.67);
        width: 494px;
        padding: 60px;
    }

    /* Main part styling for web */
    main h2 {
        padding-top: 100px;
        padding-bottom: 64px;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        background-color: #F4F5F7;
        width: 100%;
    }

    /* grid styling */
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2rem;
        margin: auto;
        max-width: 100%;
    }

    .grid-1 {
        margin: auto
    }

    .card div {
        display: flex;
        flex-direction: column;
        padding-top: 16px;
        gap: 8px;
        padding-left: 16px;
        padding-bottom: 16px;
    }


    .card h4 {
        font-size: 24px;
        font-weight: 500;
    }

    .setup h2 {
        padding-top: 100px;
        padding-bottom: 64px;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
    }


    .grid-1 {
        max-width: 1200px;
        margin: auto;

    }

    .grid-sizer,
    .grid-item {
        width: 200px;
    }

    .grid-item img {
        width: 100%;

    }

    /* Footer */

    footer {
        display: flex;
        justify-content: space-around;
        border-top: #616161 1px solid;
        padding: 50px 40px;
    }

    footer .funiro-footer {
        display: flex;
        flex-direction: column;
        width: 300px;
        gap: 10px;
    }

    footer img {
        width: 60px;
        height: auto;
        align-items: center;
    }

    footer h3 {
        font-size: 24px;
        font-weight: 600;
    }

    .bottom-nav {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}